.card-page-details
	.card-page-image(style="background-image:url(#{imagePath})")
	
	h2 #{name}
	p.card-distance #{distanceText}

	table.card-table
		tr
			td Address
			td #{address}
		tr
			td Phone
			td #{phone}
		tr
			td Website
			td
				a(href="#{website}") #{website}